/* Font-style */
.jim-nightshade-regular {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  

*{
    margin: 0;
    padding: 0;
}
/* header-part */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Rectangle 7 */
    width: auto;
    height: 124px;
    background: rgb(249, 224, 174);

}
.head-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.head-part1>h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
}
.head-part2{
    width: 40%;
    justify-content: center;
    align-items: center;
}
.head-part2>nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15%;
    align-items: center;
    margin-top: 6.5%;
    list-style-type: none;


}
.head-part2>nav>ul>li{
    font-size: 20px;
    font-weight: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.head-part2>nav>ul>li>a{
    text-decoration: none;
    color: black;
}
.head-part2>nav>ul>li>img{
    margin-left: 10%;
}
.btn-contract{

    width: 150px;
    height: 39px;
    left: 1030px;
    top: 54px;
    border-radius: 10px;

    background: rgb(194, 73, 20);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;

}
/* Start learning Part */
.learning{
    display: flex;
    height: 487px;
    /* border: 2px solid red; */
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5.5%;
    gap: 35%;

}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part1>h1{
    color: rgb(0, 0, 0);
    
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: -20px;
}
.part1>p{
    color: rgba(0, 0, 0, 0.46);
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.btn-start{

width: 200px;
height: 44px;
border-radius: 10px;

background: rgb(104, 44, 14);
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
margin-top: 20px;
}

/* meadia quary for header */
@media only screen and (max-width: 576px) {
    .header{
        flex-direction: column;
        height: auto;
        justify-content: center ;
        align-items: center;
        /* background-color: aqua; */
        width: 100%;
        margin: 0;
    }
    .head-part1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
        width: auto;
        gap: 20px;
    }
    .head-part2{
        width: auto;
    }
    .head-part2>nav>ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;

    }
    .head-part2>nav>ul>li{
        margin-top: 20px;

    }
    .btn-contract{
        margin-top: 20px;
        /* width: auto; */
    }
    /* learning -section */
    .learning{
        flex-direction: column;
        margin-top: 80px;
    }
    .btn-start{
        margin-top: 50px;
    }

    
}